//@import "custom";
@import "~bootstrap/scss/bootstrap";



$mayusculas: uppercase;
$ROJO_N1: rgb(207, 49, 49);

body {
  background-color: #fdfcfc;
  padding: 2%;
}

.bg-nav {
  color: rgb(10, 10, 243);
}

header {
  #logo {
    width: 80%;
    min-width: 20px;
  }

  #ctn_banner {
    margin-top: 10px;
    text-shadow: 2px 2px #795548;
    img {
      max-height: 500px;
    }

    .text-primary {
      color: #28a745 !important;
    }

    .card-title {
      position: absolute;
      top: 6rem;
      right: 6rem;
      color: white;
      font-size: 2.5rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    .card-title-1 {
      position: absolute;
      top: 10rem;
      right: 6rem;
      color: white;
      font-size: 2.8rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }
}

section {
  #main {
    #mis-tabs {
      #mejores-tiempos {
        & .nombre_deportista {
          text-transform: $mayusculas;
        }
        .total_ganancia_deportista {
          font-size: 30px;
          text-shadow: 2px 2px #a9a6a6;
          border-bottom: solid 2px;
          display: inline;
        }
        .medalla_deportista {
          width: 40%;
        }
      }
    }
  }
}
